{
  "singleQuote": true,
  "useTabs": false,
  "trailingComma": "es5",
  "printWidth": 80,
  "semi": true,
  "plugins": ["prettier-plugin-svelte", "@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@xyflow/(.*)$",
    "^svelte$",
    "^svelte/(.*)$",
    "^\\$app/(.*)$",
    "",
    "^\\$core/(.*)$",
    "^\\$features/(.*)$",
    "^\\$lib/(.*)$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^[./]"
  ],
  "importOrderSafeSideEffects": ["\\.css$"],
  "importOrderTypeScriptVersion": "5.0.0",
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "plugins": [
          "prettier-plugin-svelte",
          "@ianvs/prettier-plugin-sort-imports"
        ]
      }
    }
  ]
}
